<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Student Registration Form</h1>

        <form action="/submit" method="POST"  >
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name" >

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email" >

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required placeholder="Enter your age">

            <label for="course" >Course</label>
            <select name="course" id="course" required>
                <option value="">Select your course</option>
                <option value="CSE">CSE</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="ME">ME</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>